body {
  margin: 0;
  background-color: gray;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.white {
  color: white;
}

.bgc-1{
  background-color:olive;
}

.bgc-2{
  background-color:darkolivegreen;
}