body {
  margin: 0;
  background-color: gray;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.white {
  color: white;
}

.bgc-1 {
  background-color: darkolivegreen;
}

.bgc-2 {
  background-color: olive;
}